.vc_element-icon:before{
    background-color: #f9f9f9;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.216);
    color: #444;
    display: block;
    font-family: "fontawesome";
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    text-align: center;
    transition: background-color 0.3s ease 0s;
}
.vc_element-icon.icon-wpb-row:before{
    content: "";
}
.vc_element-icon.icon-wpb-layer-shape-text:before{
    content: "";
}
.vc_element-icon.noo_icon_slider:before{
    content: "\f079";
}
.vc_element-icon.noo_icon_title:before{
    content: "\f1fc";
}
.vc_element-icon.icon-wpb-ui-separator:before{
    content: "\f068";
}
.vc_element-icon.icon-wpb-ui-separator-label:before{
    content: "\f1dc";
}
.vc_element-icon.icon-wpb-balloon-facebook-left:before{
    content: "\f082";
}
.vc_element-icon.icon-wpb-information-white:before{
    content: "\f136";
}
.vc_element-icon.icon-wpb-tweetme:before{
    content: "\f081";
}
.vc_element-icon.icon-wpb-application-plus:before{
    content: "\f0d4";
}
.vc_element-icon.icon-wpb-pinterest:before{
    content: "\f0d2";
}
.vc_element-icon.icon-wpb-single-image:before {
    content: "\f03e";
}
.vc_element-icon.icon-wpb-images-stack:before,
.vc_element-icon.icon-wpb-images-carousel:before,
.vc_element-icon.icon-wpb-slideshow:before {
    content: "\f079";
}
.vc_element-icon.icon-wpb-ui-button:before{
    content: "\f0a6";
}
.vc_element-icon.icon-wpb-call-to-action:before{
    content: "\f0a1";
}
.vc_element-icon.icon-wpb-film-youtube:before{
    content: "\f03d";
}
.vc_element-icon.icon-wpb-map-pin:before{
    content: "\f041 ";
}
.vc_element-icon.icon-wpb-flickr:before{
    content: "\f16e";
}
.vc_element-icon.icon-wpb-graph:before{
    content: "\f0ae";
}
.vc_element-icon.icon-wpb-vc_pie:before{
    content: "\f200";
}
.vc_element-icon.icon-wpb-ui-custom_heading:before{
    content: "\f1dc";
}
.vc_element-icon.icon-wpb-application-icon-large:before,
.vc_element-icon.vc_icon-vc-media-grid:before,
.vc_element-icon.vc_icon-vc-masonry-grid:before,
.vc_element-icon.vc_icon-vc-masonry-media-grid:before{
    content: "\f00a";
}

.vc_element-icon.icon-wpb-vc_icon:before{
    content: "\f05a";
}
.vc_element-icon.noo_icon_whychose:before{
    content: "\f210";
}
.vc_element-icon.noo_icon_blog:before{
    content: "\f02d";
}
.vc_element-icon.noo_icon_testimonial:before{
    content: "\f0c5";
}
.vc_element-icon.noo_icon_clients:before{
    content: "\f0f6";
}
.vc_element-icon.noo_icon_counter:before{
    content: "\f01b";
}
.vc_element-icon.noo-icon-countdown:before{
    content: "\f1b8";
}
.vc_element-icon.noo_icon_list:before{
    content: "\f0ca";
}
.vc_element-icon.noo_icon_services:before{
    content: "\f187";
}
.vc_element-icon.noo_icon_quote:before{
    content: "\f10d";
}
.vc_element-icon.noo_icon_contact:before{
    content: "\f14e";
}
.vc_element-icon.noo_icon_about:before{
    content: "\f044";
}
.vc_element-icon.noo_icon_whatwedo:before{
    content: "\f059";
}
.vc_element-icon.noo_icon_team_member:before{
    content: "\f0c0";
}
.vc_element-icon.icon-wpb-layout_sidebar:before{
    content: "\f00a";
}
.vc_element-icon.noo-vc-icon-slider:before{
    content: "\f1de";
}
.vc_element-icon.noo-vc-icon-slide:before{
    content: "\f1de";
}
.vc_element-icon.noo_icon_book_now:before{
    content: "\f097";
}
.vc_element-icon.noo_icon_news:before{
    content: "\f1ea";
}
.vc_element-icon.noo_icon_team:before{
    content: "\f0c0";
}
.vc_element-icon.noo_icon_services:before{
    content: "\f0ec";
}
.vc_element-icon.noo_icon_form:before{
    content: "\f1b2";
}
.vc_element-icon.noo_icon_map:before {
    content: "\f041";
}
.vc_element-icon.noo_icon_events:before{
    content: "\f06b";
}
.vc_element-icon.noo_icon_reservation:before{
    content: "\f1cd";
}
.vc_element-icon.noo_icon_noo_grid:before {
    content: "\f009";
}
.vc_element-icon.noo_icon_noo_boxes:before {
    content: "\f1b2";
}
.vc_element-icon.noo_icon_menu:before{
    content: "\f0c9";
}
.vc_element-icon.noo_icon_menus:before{
    content: "\f080";
}
.vc_element-icon.noo_list_icon:before{
    content: "\f03a";
}
.vc_element-icon.noo_icon_information:before{
    content: "\f05a";
}
